@use 'variable';
@use 'mixins' as mixins;

.footer {
  @include mixins.reset-footer-layout;
  font-family: variable.$font-family;
  padding-top: 100px;

  &__subscribe {
    background-color: #002855;
    @include mixins.flex-container($align: center, $justify: space-between);
    color: #fff;
    padding: 20px;
    @include mixins.border-radius(15px);
    max-width: 1000px;
    margin: 0 auto 20px auto;

    &-text {
      @include mixins.font-settings(1.2rem, #fff);
      flex: 1;
      margin-left: 20px;
      text-align: left;
    }

    &-form {
      @include mixins.flex-container($align: center);
      gap: 10px;
      background-color: #fff;
      @include mixins.border-radius(10px);
      padding: 5px 10px;

      &-input {
        padding: 10px;
        border: solid 1px #666;
        @include mixins.border-radius(10px);
        width: 250px;
      }

      &-button {
        @include mixins.button(
          #003459,
          #fff,
          10px 20px,
          null,
          none,
          5px,
          #ff5b4d
        );
      }
    }
  }

  &__middle {
    @include mixins.flex-container($justify: space-between, $align: center);
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    max-width: 1000px;
  }

  &__nav {
    &-list {
      list-style: none;
      @include mixins.flex-container();
      gap: 30px;
      padding: 0;
    }

    &-link {
      text-decoration: none;
      @include mixins.font-settings(1rem, #333);

      &:hover {
        color: #000;
      }
    }
  }

  &__social {
    &-icon {
      margin: 0 10px;
      display: inline-block;

      img {
        @include mixins.responsive-img(20px, 20px, cover, 0);
      }
    }
  }

  &__bottom {
    @include mixins.flex-container($justify: space-evenly, $align: center);
    padding-top: 20px;

    &-text {
      @include mixins.font-settings(0.9rem, #666);
    }

    &-logo {
      img {
        width: 100px;
      }
    }

    &-links {
      @include mixins.flex-container();
      gap: 15px;
      text-decoration: none;

      &-link {
        text-decoration: none;
        @include mixins.font-settings(0.9rem, #333);

        &:hover {
          color: #000;
        }
      }
    }
  }
}

// Ajout de la réactivité pour les mobiles
@media (max-width: 768px) {
  .footer {
    padding-top: 50px;

    &__subscribe {
      @include mixins.flex-container($direction: column, $align: center);
      text-align: center;
      padding: 20px;
      margin: 0 10px 20px 10px;

      &-text {
        margin-left: 0;
        margin-bottom: 20px;
      }

      &-form {
        @include mixins.flex-container($direction: column);
        gap: 10px;

        &-input {
          width: 100%;
        }
      }
    }

    &__middle {
      @include mixins.flex-container($direction: column, $align: center);
      margin: 20px 10px;
      text-align: center;

      &__nav {
        &-list {
          @include mixins.flex-container($direction: column);
          gap: 15px;
        }
      }
    }

    &__bottom {
      @include mixins.flex-container($direction: column, $align: center);
      text-align: center;
      gap: 20px;

      &-links {
        @include mixins.flex-container($direction: column);
        gap: 10px;
      }
    }
  }
}
