@use "mixin" as *;
@use "variable";

.footer {
    @include reset-footer-layout;
    font-family: variable.$font-family;
    padding-top: 100px;
    &__subscribe {
      background-color: #002855;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 20px;
      border-radius: 15px;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto 20px auto;
  
      &-text {
        font-size: 1.2rem;
        flex: 1;
        margin-left: 20px;
        text-align: left;
      }
  
      &-form {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        border-radius: 10px;
        padding: 5px 10px;
  
        &-input {
          padding: 10px;
          border: solid 1px #666;
          border-radius: 10px;
          width: 250px;
        }
  
        &-button {
          padding: 10px 20px;
          background-color: #003459;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #ff5b4d;
          }
        }
      }
    }
  
    &__middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px auto; // Centre horizontalement
      padding-bottom: 10px;
      border-bottom: solid 1px #ccc;
      max-width: 1000px; // Limite la largeur pour éviter les côtés en trop
    }
  
    &__nav {
      &-list {
        list-style: none;
        display: flex;
        gap: 30px;
        padding: 0;
      }
  
      &-link {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
  
        &:hover {
          color: #000;
        }
      }
    }
  
    &__social {
      &-icon {
        margin: 0 10px;
        display: inline-block;
  
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  
    &__bottom {
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      padding-top: 20px;
  
      &-text {
        font-size: 0.9rem;
        color: #666;
      }
  
      &-logo {
        img {
          width: 100px;
        }
      }
  
      &-links {
        display: flex;
        gap: 15px;
        text-decoration: none;
        &-link {
          text-decoration: none; // Assure qu'il n'y a pas de ligne sous le texte
          color: #333;
          font-size: 0.9rem;
  
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  