@use 'sass:color';
@use 'variable';

@mixin font-settings(
  $size: variable.$font-size-base,
  $color: variable.$primary-color,
  $weight: normal,
  $family: variable.$font-family,
  $style: normal,
  $line-height: normal
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
  font-style: $style;
  line-height: $line-height;
}

@mixin button(
  $bg-color: variable.$primary-color,
  $text-color: #fff,
  $padding: variable.$spacing-unit variable.$spacing-unit * 2,
  $font-size: variable.$font-size-base,
  $border: none,
  $border-radius: variable.$border-radius,
  $hover-bg-color: null
) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  font-size: $font-size;
  border: $border;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: if(
      $hover-bg-color != null,
      $hover-bg-color,
      color.adjust($bg-color, $lightness: -10%)
    );
  }
}

@mixin flex-container(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin responsive-img(
  $width: 100%,
  $height: auto,
  $object-fit: cover,
  $border-radius: 0
) {
  width: $width;
  height: $height;
  object-fit: $object-fit;
  border-radius: $border-radius;
}

@mixin heading(
  $size: variable.$font-size-large,
  $color: variable.$primary-color,
  $margin: 0,
  $weight: bold
) {
  font-size: $size;
  color: $color;
  margin: $margin;
  font-weight: $weight;
}

@mixin text-style(
  $size: variable.$font-size-base,
  $color: variable.$primary-color,
  $margin: 0,
  $line-height: 1.6
) {
  font-size: $size;
  color: $color;
  margin: $margin;
  line-height: $line-height;
}

@mixin border-radius($radius: variable.$border-radius) {
  border-radius: $radius;
}

@mixin position(
  $position,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin card(
  $bg-color: #fff,
  $border-color: #ddd,
  $border-radius: variable.$border-radius,
  $padding: variable.$spacing-unit * 1.5,
  $width: auto
) {
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $padding;
  width: $width;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin reset-footer-layout {
  background-color: variable.$secondary-color;
  color: variable.$primary-color;
  padding: variable.$spacing-unit * 2 0;
  width: 100%;
  text-align: center;
  margin: 0;
}
